/* 
    Document   : default
    Created on : Sep 25, 2011, 10:57:01 PM
    Author     : Didik
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
    margin-left: 100px;
}

html{outline:none;overflow-y:scroll}
body{
    font-family: "Lucida Grande","Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
}
*{
    margin: 0px;
}

div{
    display: block;
}

#header-wrapper{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
}

#header{
    width: 960px;
    margin: 0px auto;
    padding: 10px 0px;
}
#content-wrapper{
    display: inline-block;
    width: 100%;
}
#content{
    width: 960px;
    margin: 0px auto;
}
#footer{
    width: 960px;
    margin: 0px auto;
}

#footer-wrapper{
    background-color: whitesmoke;
    margin: 40px 0 10px 0;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 0px;
    width: 100%;
    height: auto;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
}

.footer-link{
    width: 100px;
    display: block;
    text-align: center;
    float: right;
}

h3{
    text-align: left;
    
}

.catalog {
    float: left;
    width: 500px;
    font-family: tahoma;
    margin-top: 50px;
}

#item{
/*    margin-left: 100px;*/
}




.list-sheet{
    display: inline-block;
    background-color: whitesmoke;margin-top: 25px;box-shadow: 2px 2px 2px #ccc;position: relative
}

#filter-bingkisan{
    text-align: center; 
    padding: 15px; margin: 16px; 
/*    background-color: #CCC;*/
}

input.filter{
    width: 400px;
    height: 25px;
    font-size: 16px;
}

select.filter{
    height: 31px;
    font-size: 16px;
    min-width: 50px;
}
select.filter option{
    font-size: 16px;
    height: 30px;
}

table.filter{
    width: 100%
}
table.filter td{
    text-align: left;
    padding: 0px 10px;
}
table.filter td:first-child{
    text-align: right;
    padding: 0px 10px;
}

.thrbutton{
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px 2px 2px ;display: inline-block;
    min-width: 54px;
    border: 1px solid gainsboro;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #555;
    font-size: 11px;
    font-weight: bold;
    height: 28px;
    padding: 0 8px;
    line-height: 28px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: whiteSmoke;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5',EndColorStr='#f1f1f1');
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
    box-sizing: border-box;
    font-family:  Arial;
    font-family: "Lucida Grande","Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
}

.thrbutton:hover{
    color: white;
    cursor: pointer;
    background-color: maroon;
    background-image: -webkit-gradient(linear,left top,left bottom,from(red),to(maroon));
    background-image: -webkit-linear-gradient(top,red,maroon);
    background-image: -moz-linear-gradient(top,red,maroon);
    background-image: -ms-linear-gradient(top,red,maroon);
    background-image: -o-linear-gradient(top,red,maroon);
    background-image: linear-gradient(top,red,maroon);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='red',EndColorStr='maroon');
}
#list-perjalanan{
    padding: 10px;
    border-top: 1px solid #ccc;
}
#list-bingkisan .li-bingkisan, #list-perjalanan .li-perjalanan{
    display: inline-block;
    width: 760px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}
#list-bingkisan .li-bingkisan .cat-left, #list-perjalanan .li-perjalanan .cat-left{
    text-align: center;
    width: 40px;
    float: left;
}
#list-bingkisan .li-bingkisan .cat-middle{
    width: 560px;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}
#list-bingkisan .li-bingkisan .cat-right, #list-perjalanan .li-perjalanan .cat-right{
    width: 140px;
    float: left;
}

#list-perjalanan .li-perjalanan .cat-middle{
    width: 420px;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
}

#list-perjalanan .li-perjalanan .cat-vault{
    width: 120px;
    float: left;
}

table#list-item{
    border-collapse: collapse;
    width: 97.5%;
    margin-right: 10px;
}
table#list-item tr td{
    padding: 5px;
    font-size: 0.85em
}
table#list-item tbody tr:nth-child(odd){
    background-color: #ccc
}

table#detail-paket{
    border-collapse: collapse;
    width: 97.5%;
    font-size: 0.85em
}
table#detail-paket td{
    vertical-align: baseline
}
table#detail-paket td:first-child{
    width: 120px;
    font-weight: bold
}

img.ico-mini{
    max-height: 18px;vertical-align: bottom
}
